
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jose Luis Villota - Developer</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
    <!-- Botón de menú hamburguesa dentro del header -->
    <header>
        <button class="hamburger" onclick="toggleNav()">☰</button>
        <img src="../assets/img/perfil.jpeg" alt="Foto Perfil">
        <h1>Jose Luis Villota</h1>
        <h2>Desarrollador - Full Stack</h2>
    </header>

    <!-- Menú de navegación lateral -->
    <section class="nav-wrapper">
        <nav id="side-nav">
            <button class="close-btn" onclick="toggleNav()">✕</button>
            <ul>
                <li><a href="../index.html">inicio</a></li>
                <li><a href="../templates/proyectos.html">Portafolio</a></li>
                <li><a href="#contact">Contacto</a></li>
            </ul>
        </nav>
        <img src="../assets/img/perfil.jpeg" alt="Logo" class="logo">
    </section>

    <!-- Overlay para oscurecer el contenido cuando el menú esté abierto -->
    <div class="overlay" onclick="toggleNav()"></div>

    <!-- Contenido principal -->
    <main class="container">
        <section id="about">
            <h2 class="section-title">Sobre Mí</h2>
            <p>Desarrollador Full Stack con experiencia en el diseño y desarrollo de aplicaciones web utilizando
                tecnologías como HTML, CSS, JavaScript, React, Node.js y SQL Server.
                Hábil en la creación de interfaces de usuario interactivas y en la implementación de soluciones de
                backend eficientes. Comprometido con la optimización del rendimiento
                y la escalabilidad de las aplicaciones.</p>
        </section>
        <section id="contact">
            <h2 class="section-title">Contacto</h2>
            <p>Puedes contactarme a través del siguiente correo electrónico: <a
                    href="mailto: jlvillota1302@gmail.com">jlvillota1302@gmail.com</a></p>
        </section>
    </main>

    <!-- Pie de página -->
    <footer>
        <div>
            <h3>Ciudad de Origen</h3>
        </div>
        <div id="map"></div>
        &copy; 2024 Jose Luis Villota Muñoz
    </footer>
    <script src="../scripts/app.js"></script>
</body>

</html>