body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #1428a0;
    color: white;
    padding: 10px 0;
    text-align: center;
}
header img {
    border-radius: 50%;
    width: 200px; /* Ajusta el tamaño de la imagen a tu gusto */
    height: 200px; /* Ajusta el tamaño de la imagen a tu gusto */
    object-fit: cover; /* Asegura que la imagen se ajuste dentro del contenedor */
    border: none; /* Remueve cualquier borde si es necesario */
}
header h1 {
    margin: 0;
    font-size: 2em;
}
.nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px; /* El área donde el hover será detectado */
    height: 100%;
}

nav {
    position: absolute;
    top: 0;
    left: -200px; /* Oculto inicialmente fuera de la vista */
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column; /* Coloca los enlaces en una columna */
    justify-content: center;
    background-color: #f39c12;
    transition: left 0.3s ease; /* Animación suave al aparecer */
}

.nav-wrapper:hover nav {
    left: 0; /* Al pasar el mouse sobre la zona izquierda, se muestra el nav */
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    display: block; /* Hace que los enlaces ocupen el ancho completo del nav */
}

nav a:hover {
    background-color: #144089;
}
.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.section-title {
    font-size: 1.5em;
    margin-bottom: 20px;
    border-bottom: 2px solid #1428a0;
    display: inline-block;
}
.portfolio-item {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #1428a0;
    color: white;
    /*position: fixed;*/
    width: 100%;
    bottom: 0;
}

